[submodule "libdave"]
	path = libdave
	url = https://github.com/discord/libdave
[submodule "mlspp"]
	path = mlspp
	url = https://github.com/cisco/mlspp
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
	shallow = true
